*.axf
*.swp
*.htm
*.Inp
*.map
*.tra
*.dep
*._2i
*.l2p
*.__i
*.fed
*.crf
*.d
*.o
*.lst
*.lnp
*.bak

*.ini
*.iex
*.sct
*.uvgui.*
*.uvguix.*
*.tmp
**/arm/JLinkLog.txt
**/_viminfo
**/_vimtags
_build/
RTE/

*.asm

# SEGGER Embedded Studio and JLink ##
pca10040/s132/ses/Output/
pca10040/s132/ses/*.emSession
pca10040/s132/ses/*.jlink

## KEIL AND JLINK ##
_build
RTE
JLinkSettings.ini
JLinkLog.txt
*.uvguix*
